code {
    margin-top: -1em;
    font-size: 0.7em;
    letter-spacing: 0em;
    line-height: 0.7em;
    font-weight: bold;
    color: white;
}

.video-section{
    display: flex;
    justify-content: center;
}
body {
    background-color: #3d3d3d;
}

video {
    /* display: none; */
}